@charset "UTF-8";

/* //////////////////// 全体 */
html {
  font-size: 14px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Serif JP', serif;
  color: #555;
}

.remove-letter-spacing {
  letter-spacing: 0;
}
/* //////////////////// <= 全体 */

/* //////////////////// header */
header {
  position: relative;
}

#header-nav {
  position: relative;
  width: 100%;
  height: 100vh;
  transition: .5s;
  transform: translateY(5rem);
  visibility: hidden;
  opacity: 0;
}

#header-nav.pull-up {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

#header-menu-button {
  position: absolute;
  top: 4rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  z-index: 2;
}

#header-menu-button > .btn-line {
  position: absolute;
  width: 2rem;
  height: 3px;
  background-color: #fff;
  transition: .2s;
  visibility: visible;
  opacity: 1;
}

#header-menu-button > .btn-line:nth-of-type(1) {
  top: 25%;
  left: 50%;
  transform: translateX(-50%)
}

#header-menu-button > .btn-line:nth-of-type(2) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#header-menu-button > .btn-line:nth-of-type(3) {
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
}

#header-menu-button > .btn-line:nth-of-type(1).oblique-line-dw {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

#header-menu-button > .btn-line:nth-of-type(2).erase {
  visibility: hidden;
  opacity: 0;
}

#header-menu-button > .btn-line:nth-of-type(3).oblique-line-up {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);
}

#header-nav > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  position: absolute;
  top: 20%;
  right: 1rem;
  width: calc(100% - 2rem);
  padding: 3rem 1rem;
  border-top: 1px solid #fff ;
  z-index: 2;
}

#header-nav li {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1em;
  letter-spacing: .5rem;
  color: #fff;
}

#header-nav li:not(:first-of-type) {
  margin-top: 2rem;
}

#header-nav li > a {
  display: block;
}
header #header-nav-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #333333b5;
  z-index: 1;
}

header > #main-title {
  position: absolute;
  top: 6%;
  left: 50%;
  transform: translateX(-50%);
}

#main-title img {
  width: 100%;
  height: 100%;
  transform: scale(.5);
}

header > #main-visual {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;  
  background-image: url("../img/first_half/s-1159x815_v-fs_webp_4e17a59e-2afc-4b78-b1c6-9639562f240f.webp");
  background-position: center;
  background-size: 290%;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  z-index: -1;
}