@charset "UTF-8";

.box {
  position: relative;
  width: 30rem;
  height: 30rem;
  background-color: #eee;
}

html {
  font-size: 14px;
}

body {
  font-family: 'Noto Serif JP', serif;
  color: #555;
  background-image: url(../img/pc_bg_01.png);
  background-repeat: repeat;
}

p {
  line-height: 2;
}

/* ////////// header ////////// */
#main-header {
  width: 100%;
  height: 16rem;
}

#main-header,
#main-header ul,
.header-container.main,
.header-container.sub,
.header-container.sub > .anchor-wrapper {
  display: flex;
}

#main-header {
  flex-direction: column-reverse;
  padding: 0 2rem;
}

.header-container.main {
  max-width: 1050px;
  width: 100%;
  margin: 0 auto;
  gap: 1rem;
}

.header-container.main > .logo {
  order: 2;
  width: 10rem;
  height: 100%;
  background-image: url(../img/pc_logo.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.header-container.main > .left-nav {
  flex: 8;
  order: 1;
}


.header-container.main > .right-nav {
  flex: 8;
  order: 3;
}

.header-container.main > .left-nav,
.header-container.main > .right-nav {
  border-bottom: 1px solid #333;
}

.header-container.main li {
  text-align: center;
  width: 100%;
  height: 12rem;
}

.header-container.main > .left-nav a,
.header-container.main > .right-nav a {
  display: inline-block;
  width: inherit;
  height: inherit;
  padding-top: 7rem;
  letter-spacing: .25rem;
}

.header-container.sub {
  justify-content: space-between;
  align-items: flex-end;
  height: 4rem;
}

.anchor-wrapper:first-child {
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.anchor-wrapper:first-child > dd {
  padding-left: 2rem;
  border-left: 1px solid #ddd;
}

.anchor-wrapper:first-child a {
  position: relative;
  padding: 0 2rem .5rem 0;
  border-bottom: 1.5px solid #333;
}

.anchor-wrapper:last-child {
  margin-bottom: 1rem;
}

.anchor-wrapper:first-child a::before,
.anchor-wrapper:first-child a::after {
  position: absolute;
  content: "";
  width: 1.2rem;
  height: .5rem;
  clip-path: polygon(0 0, 0 200px, 200px 200px, 200px 0);
}

.anchor-wrapper:first-child a::before {
  top: 25%;
  right: .2rem;
  border: 1px solid #333;
}

.anchor-wrapper:first-child a::after {
  top: 10%;
  right: 0rem;
  border: 1px solid #aaa;
}

.header-container.sub a,
.header-container.sub dt,
.header-container.sub dd,
.header-container.sub li {
  font-size: .8rem;
  line-height: 1;
  font-weight: 500;
  letter-spacing: .2em;
}

.header-container.sub a:lang(en),
.header-container.sub dd:lang(en),
.header-container.sub li:lang(en) {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

.header-container.sub > dt > a {
  padding-right: 2rem;
  border-bottom: 1px solid #333;
}
.header-container.sub > dt > a:not(:first-of-type) {
  margin-left: 5rem;
  padding-left: 5rem;
}

.header-container.sub a:not(:first-of-type),
.header-container.sub dd:not(:first-of-type) {
  margin-left: 1rem;
  padding-left: 1rem;
  border-left: 1px solid #ddd;
}

.anchor-wrapper > dd:not(:first-of-type) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  padding-right: 1rem;
}

.anchor-wrapper > dd:not(:first-of-type)::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  content: "\f103";
  font-family: "Font Awesome 6 Free";
  font-size: .7em;
  font-weight: 900;
}

.header-container.sub li {
  display: none;
}

/* ////////// header-end ////////// */

.container {
  max-width: 1050px;
  margin: 0rem auto;
}

/* ////////// topics ////////// */
.topics {
  display: flex;
  gap: 2rem;
  margin-top: 5rem;
}

.topics a {
  z-index: 10;
}

.topics > .newest-image {
  flex: 3;
}

.topics > .information {
  flex: 2;
}

.topics dl {
  position: relative;
  margin: 1rem 0 0 2rem;
  padding: 0 0 1rem 3rem;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.topics article dl:first-of-type > dd {
  width: 100%;
  height: 100%;
}
.topics article dl:first-of-type > dd:last-of-type {
  border-top: 1px solid #ccc;
}

.topics article dl:first-of-type > dd > a {
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 1.5rem 0 1.5rem 1rem;
  font-size: .8rem;
  transition: .8s;
}

.topics article dl:first-of-type > dd > a::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  content: "";
  width: 1.5rem;
  height: .4rem;
  background-image: url(../img/i_arr.png);
  background-repeat: no-repeat;
  background-size: contain;
}


.topics article dl:first-of-type > dd > a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.topics dl:last-of-type {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  margin-top: 3rem;
}

.topics dl:last-of-type >dd:nth-of-type(5) {
  /* grid-column: 1/3;
  grid-row: 3/4; */
  grid-area: 3/1/4/3;
}

.topics dl > dt {
  position: absolute;
  top: -1rem;
  left: -1rem;
  width: 2rem;
  height: 7rem;
}

.topics .dt-wrapper {
  position: relative;
  width: inherit;
  height: inherit;
}

.topics .dt-wrapper > h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: inherit;
  text-align: center;
  font-size: .7rem;
  font-weight: 400;
  letter-spacing: .15rem;
  writing-mode: vertical-rl;
  text-orientation: upright;
  z-index: 1;
}

.topics .dt-title-back {
  position: absolute;
  background: #ccc;
  width: 2rem;
  height: 7rem;
  clip-path: polygon(
    /* 上辺　左→右 */
    15% 0%, 85% 0%, 
    /* 右辺　上→下 */
    100% 5%, 100% 95%, 
    /* 下辺　右→左 */
    85% 100%, 15% 100%, 
    /* 左辺　下→上 */
    0% 95%, 0% 5%);
}

.topics .dt-title-back::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  background: #fff;
  width: calc(2rem - 2px);
  height: calc(7rem - 2px);
  clip-path: polygon(
    /* 上辺　左→右 */
    15% 0%, 85% 0%, 
    /* 右辺　上→下 */
    100% 5%, 100% 95%, 
    /* 下辺　右→左 */
    85% 100%, 15% 100%, 
    /* 左辺　下→上 */
    0% 95%, 0% 5%);
}

.topics img {
  width: 100%;
}

.topics figure {
  position: relative;
}

.topics figure::before {
  /* display: none; */
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  transition: .5s;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

.topics figure:hover::before {
  visibility: visible;
  opacity: .5;
}

.topics dd time {
  display: inline-block;
  margin: 1.2rem 0 .5rem;
  font-size: .8rem;
  line-height: 1em;
  color: #999;
}

.topics dd p {
  font-size: .75rem;
  line-height: 1.4;
}


/* ////////// topics-end ////////// */