@charset "UTF-8";

.box {
  position: relative;
  width: 30rem;
  height: 30rem;
  background-color: #eee;
}

html {
  font-size: 14px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Serif JP', serif;
  color: #555;
  background-image: url(../img/pc_bg_01.png);
  background-repeat: repeat;
}

section {
  margin: 0 calc(50% - 50vw);
  padding: 0 calc(50vw - 50%);
}

section:not(:first-of-type) {
  margin-top: 5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media screen and (max-width: 600px) {
  section:not(:first-of-type) {
    margin-top: 0rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

section:last-of-type {
  margin-top: 0;
}

section:nth-of-type(even) {
  background-color: rgba(210, 150, 135, .1);
}

.feature-article > h2,
.guide > h2,
#instagram > h2 {
  position: relative;
  margin-bottom: 5rem;
  text-align: center;
  font-size: 1.15rem;
  line-height: 1em;
  font-weight: 600;
  letter-spacing: .5em;
}

@media screen and (max-width: 600px) {
  .guide>h2 {
    margin-bottom: 2rem;
  }
  
}
.feature-article > h2::after,
.guide>h2::after,
#instagram>h2::after {
  position: absolute;
  bottom: -1.5rem;
  right: 50%;
  transform: translateX(50%) rotate(90deg);
  width: 1.7rem;
  height: 1.7rem;
  content: "";
  border-right: 2px solid #d13239;
}

.remove-letter-spacing {
  letter-spacing: normal;
}

p {
  line-height: 2;
}


/* ////////// header ////////// */
#main-header {
  width: 100%;
  height: 16rem;
}

@media screen and (max-width: 600px) {
  #main-header {
    height: 120vh;
  }
}

#main-header,
#main-header ul,
.header-container.main,
.header-container.sub,
.header-container.sub > .anchor-wrapper {
  display: flex;
}

#main-header {
  flex-direction: column-reverse;
  padding: 0 2rem;
}

.header-container.main {
  max-width: 1050px;
  width: 100%;
  margin: 0 auto;
  gap: 1rem;
}

@media screen and (max-width: 600px) {
  #main-header,
  #main-header ul,
  .header-container.main,
  .header-container.sub,
  .header-container.sub>.anchor-wrapper {
    display: block;
  }

  .header-container.main {
    margin-top: 4rem;
  }
}

.header-container.main > .logo {
  order: 2;
  width: 10rem;
  height: 100%;
  background-image: url(../img/pc_logo.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.header-container.main > .left-nav {
  flex: 8;
  order: 1;
}

.header-container.main > .right-nav {
  flex: 8;
  order: 3;
}

.header-container.main > .left-nav,
.header-container.main > .right-nav {
  border-bottom: 1px solid #ccc;
}

@media screen and (max-width: 600px) {
  .header-container.main > .left-nav,
  .header-container.main > .right-nav {
    border-bottom: none;
  }
}

.header-container.main li {
  position: relative;
  text-align: center;
  width: 100%;
  margin-top: 3rem;
  height: 9rem;
}

@media screen and (max-width: 600px) {
  .header-container.main li {
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 1.75rem 0;
    border-bottom: 1px solid #ccc;
  }
}

.main-nav.right-nav li:last-of-type {
  display: none;
}

@media screen and (max-width: 600px) {
  .main-nav.right-nav li:last-of-type {
    display: block;
  }
}

.header-container.main li::after {
  position: absolute;
  top: -4.5rem;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: .75rem;
  height: 100%;
  border-bottom: 1px solid #333;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: .5s;
}

.header-container.main li:hover::after {
  top: -5rem;
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 600px) {
  .header-container.main li:hover::after {
    visibility: hidden;
    opacity: 0;
  }
}

.header-container.main > .left-nav a,
.header-container.main > .right-nav a {
  display: inline-block;
  width: inherit;
  height: inherit;
  padding-top: 2rem;
  letter-spacing: .25rem;
}

.header-container.sub {
  justify-content: space-between;
  align-items: flex-end;
  height: 4rem;
}

@media screen and (max-width: 600px) {
  .header-container.main > .left-nav a,
  .header-container.main > .right-nav a {
    display: inline-block;
    width: inherit;
    height: inherit;
    padding-top: 0;
    letter-spacing: .25rem;
  }

  .header-container.sub {
    justify-content: center;
    height: 30vh;
  }
}

.anchor-wrapper:first-child {
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.anchor-wrapper:first-child > dd {
  padding-left: 2rem;
  border-left: 1px solid #ddd;
}

.anchor-wrapper:first-child a {
  position: relative;
  padding: 0 2rem .5rem 0;
}

.anchor-wrapper:last-child {
  margin-bottom: 1rem;
}

.anchor-wrapper:first-child a::before,
.anchor-wrapper:first-child a::after,
#instagram > sub a::before,
#instagram > sub a::after {
  position: absolute;
  content: "";
  width: 1.2rem;
  height: .5rem;
  clip-path: polygon(0 0, 0 200px, 200px 200px, 200px 0);
}

.anchor-wrapper:first-child a::before,
#instagram > sub a::before {
  top: 25%;
  right: .2rem;
  border: 1px solid #333;
}

#instagram > sub a::before {
  top: 18%;
}

.anchor-wrapper:first-child a::after,
#instagram > sub a::after {
  top: 10%;
  right: 0rem;
  border: 1px solid #aaa;
}

#instagram > sub a::after {
  top: 3%;
}

.anchor-wrapper:first-child a > .ornament-rectangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:
               /* 色          幅      領域上からの位置 高さ            線幅 どうする */
  linear-gradient(#333 0 0) var(--p, 100%) 100% / var(--d, 100%) 1px no-repeat;
  transition: .5s, background-position 0s .5s;
}

.anchor-wrapper:first-child a>.ornament-rectangle:hover {
  --d: 0;
  --p: 0;
}

.anchor-wrapper:first-child a > .ornament-rectangle::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background:
  linear-gradient(#ccc 0 0) var(--p, 0) 100% /var(--d, 0) 1px no-repeat;
  transition: .5s, background-position 0s .5s;  
}

.anchor-wrapper:first-child a>.ornament-rectangle:hover::after {
  --d: 100%;
  --p: 100%;
}

.header-container.sub a,
.header-container.sub dt,
.header-container.sub dd,
.header-container.sub li,
#instagram > sub a {
  font-size: .7rem;
  line-height: 1;
  font-weight: 500;
  letter-spacing: .2em;
}

.topics > .information > dl > p > a,
#instagram > sub a {
  font-size: .8rem;
  font-weight: 300;
  margin-left: 2rem;
}

.topics > .information > dl > p > a {
  position: relative;
  margin: 0 1rem 0 0;
}

.topics > .information > dl > p > a::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -1rem;
  content: "\f101";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  
}
.header-container.sub a:lang(en),
.header-container.sub dd:lang(en),
.header-container.sub li:lang(en),
#instagram h2:lang(en),
#more-info h2:lang(en) {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

.header-container.sub > dt > a {
  padding-right: 2rem;
  border-bottom: 1px solid #333;
}
.header-container.sub > dt > a:not(:first-of-type) {
  margin-left: 5rem;
  padding-left: 5rem;
}

.header-container.sub a:not(:first-of-type),
.header-container.sub dd:not(:first-of-type) {
  margin-left: 1rem;
  padding-left: 1rem;
  border-left: 1px solid #ddd;
}

@media screen and (max-width: 600px) {
  .header-container.sub a:not(:first-of-type),
  .header-container.sub dd:not(:first-of-type) {
    margin-left: 0;
    padding-left: 0;
    border-left: none;
  }
}

.anchor-wrapper > dd:not(:first-of-type) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  padding-right: 1rem;
}

.anchor-wrapper > dd:not(:first-of-type)::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  content: "\f103";
  font-family: "Font Awesome 6 Free";
  font-size: .7em;
  font-weight: 900;
}

@media screen and (max-width: 600px) {
  .anchor-wrapper > dd:not(:first-of-type)::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    content: "";
  }

  .anchor-wrapper > dd:last-of-type::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    content: "\f103";
    font-family: "Font Awesome 6 Free";
    font-size: .7em;
    font-weight: 900;
  }
}

.header-container.sub .anchor-wrapper {
  z-index: 10;
}

@media screen and (max-width: 600px) {
  .header-container.sub {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header-container.sub .anchor-wrapper:first-of-type {
    order: 2;
  }

  .header-container.sub .anchor-wrapper:first-of-type dt,
  .header-container.sub .anchor-wrapper:first-of-type dd {
    margin-top: 2rem;
  }

  .header-container.sub .anchor-wrapper:last-of-type dd a {
    display: none;
  }
}

.header-container.sub .list-wrapper {
  position: absolute;
  top: 175%;
  left: 1rem;
}

.vertical-menu {
  flex-direction: column;
  align-items: self-start;
  justify-content: center;
  font-size: .8em;

}

.menu-active {
  visibility: visible;
  opacity: .7;
}

.vertical-menu > li {
  transition: .5s;
  opacity: 0;
  transform: translateY(-0.75rem);
}

@media screen and (max-width: 600px) {
  .vertical-menu > li {
    transition: 0s;
    visibility: visible;
    opacity: 1;
    transform: translateY(0rem);
  }
}

.vertical-menu > li:not(:first-of-type) {
  margin-top: .5rem;
}


.menu-active > li {
  opacity: 1;
  transform: translateY(0);
}

.vertical-menu > li:nth-of-type(2) {
  transition-delay: .1s;
}
.vertical-menu > li:nth-of-type(3) {
  transition-delay: .2s;
}



/* ////////// header-end ////////// */

.container {
  max-width: 1050px;
  margin: 0rem auto;
}

@media screen and (max-width: 600px) {
  .container {
    width: 100;
    padding: 0 3rem;
  }
}

/* ////////// topics ////////// */
.topics {
  display: flex;
  gap: 2rem;
  margin-top: 5rem;
}

@media screen and (max-width: 600px) {
  .topics {
    flex-direction: column;
    margin-top: 7rem;
  }
}

.topics a {
  z-index: 10;
}

@media screen and (max-width:600px) {
  .topics a {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1rem;
  }
  
  .topics a > figure {
    flex: 1;
  }
  
  .topics a > .contents-text {
    flex: 3;
  }
  .topics a > .contents-text > time {
    margin: 0;
  }
}

.topics > .newest-image {
  flex: 3;
  position: relative;
}

.topics > .newest-image > time {
  display: flex;
  align-items: flex-end;
  position: absolute;
  top: 0;
  left: 0;
}

.topics > .newest-image > time::before {
  position: absolute;  
  top: 0;
  left: -3rem;
  content: "";
  width: 2rem;
  padding-top: 1rem;
  border-top: 1px solid #ccc;
}

.topics > .newest-image > time::after {
  position: absolute;
  top: 1rem;
  left:-2.5rem;
  height: 13em;
  content: "二〇二三年四月十二日";
  font-size: .8rem;
  letter-spacing: .3em;
  writing-mode: vertical-rl;
}

@media screen and (max-width: 600px) {
  .topics > .newest-image > time {
    display: block;
    position: relative;
    width: 100%;
    height: 15vh;
  }

  .topics>.newest-image>time::before {
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 0;
    height: 4rem;
    /* padding-top: 1rem; */
    border-left: 1px solid #ccc;
  }
  
  .topics>.newest-image>time::after {
    top: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    content: "2023.4.12";
    writing-mode: horizontal-tb;
    
  }
}


.topics > .information {
  flex: 2;
  margin-bottom: 2rem;
}

.topics dl {
  position: relative;
  margin: 1rem 0 0 2rem;
  padding: 0 0 1rem 3rem;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.topics > .information > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .topics dl {
    margin: 5rem -1.5rem;
    padding: 0 0 1rem 1rem;
  }
}

.topics article dl:first-of-type > dd {
  width: 100%;
  height: 100%;
}

.topics article dl:first-of-type > dd:last-of-type {
  border-top: 1px solid #ccc; 
}

.topics article dl:first-of-type > dd > a {
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 1.5rem 0 1.5rem 1rem;
  font-size: .8rem;
  transition: .8s;
}

@media screen and (max-width: 600px) {
  .topics article dl:first-of-type > dd:last-of-type {
    border-top: none;
  }
  
  .topics article dl:first-of-type > dd > a {
    padding: 1rem 0;
  }
  .topics article dl:first-of-type > dd:last-of-type > a {
    padding: 1rem 0 0;
  }


  .topics article dl > dd:not(:last-of-type) {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
  }
  
  .topics article dl > dd:nth-of-type(4) {
    border: none;
  }

  .topics article dl:first-of-type > dd {
        margin: 0;
          padding: 0;
  }
  
  .topics article dl:last-of-type > dd {
    margin-top: 0px;
  }

}

.topics article dl:first-of-type > dd > a::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  content: "";
  width: 1.5rem;
  height: .4rem;
  background-image: url(../img/i_arr.png);
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 600px) {
  .topics article dl:first-of-type > dd > a::after {
    right: 0;
  }
  
  .topics article dl:first-of-type > dd:last-of-type > a::after {
    transform: translateY(70%);
  }
}

.topics article dl:first-of-type > dd > a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 600px) {
  .topics article dl:first-of-type > dd > a:hover {
    background-color: transparent;
  }
}

.topics dl:last-of-type {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  position: relative;
  margin-top: 3rem;
  padding-bottom: 5rem;
}

@media screen and (max-width: 600px) {
  .topics dl:last-of-type {
    display: block;
    margin-top: 7rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.topics dl:last-of-type >dd:nth-of-type(5) {
  grid-area: 3/1/4/3;
}

.topics dl > dt {
  position: absolute;
  top: -1rem;
  left: -1rem;
  width: 2rem;
  height: 7rem;
}

@media screen and (max-width: 600px) {
  .topics dl > dt {
    position: absolute;
    top: -3rem;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 2rem;
  }
}

.topics .dt-wrapper {
  position: relative;
  width: inherit;
  height: inherit;
}

.topics .dt-wrapper > h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: inherit;
  text-align: center;
  font-size: .7rem;
  font-weight: 400;
  letter-spacing: .15rem;
  writing-mode: vertical-rl;
  text-orientation: upright;
  z-index: 1;
}

@media screen and (max-width: 600px) {
  .topics .dt-wrapper > h3 {
    writing-mode:unset;
    text-orientation:unset;
  }
}

.topics .dt-title-back {
  position: absolute;
  background: #ccc;
  width: 2rem;
  height: 7rem;
  clip-path: polygon(
    /* 上辺　左→右 */
    15% 0%, 85% 0%, 
    /* 右辺　上→下 */
    100% 5%, 100% 95%, 
    /* 下辺　右→左 */
    85% 100%, 15% 100%, 
    /* 左辺　下→上 */
    0% 95%, 0% 5%);
  }

@media screen and (max-width: 600px) {
  .topics .dt-title-back {
    top: 50%;
    left: 50%;
    transform: translate(-51.5%, -75%);
  }
}

.topics .dt-title-back::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  background: #fff;
  width: calc(2rem - 2px);
  height: calc(7rem - 2px);
  clip-path: polygon(
    /* 上辺　左→右 */
    15% 0%, 85% 0%, 
    /* 右辺　上→下 */
    100% 5%, 100% 95%, 
    /* 下辺　右→左 */
    85% 100%, 15% 100%, 
    /* 左辺　下→上 */
    0% 95%, 0% 5%);
}

@media screen and (max-width: 600px) {
  .topics .dt-title-back {
    position: absolute;
    background: #ccc;
    width: 10rem;
    height: 2rem;
    clip-path: polygon(
    /* 上辺　左→右 */
      3% 0%,
      97% 0%,
      /* 右辺　上→下 */
      100% 15%,
      100% 85%,
      /* 下辺　右→左 */
      97% 100%,
      3% 100%,
      /* 左辺　下→上 */
      0% 85%,
      0% 15%);
  }
  
  .topics .dt-title-back::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    background: #fff;
    width: calc(10rem - 2px);
    height: calc(2rem - 2px);
    clip-path: polygon(
    /* 上辺　左→右 */
      3% 0%,
      97% 0%,
      /* 右辺　上→下 */
      100% 15%,
      100% 85%,
      /* 下辺　右→左 */
      97% 100%,
      3% 100%,
      /* 左辺　下→上 */
      0% 85%,
      0% 15%);
  }
}

.topics img {
  width: 100%;
}

.topics figure,
.feature-article figure,
#main-guide figure,
#sub-guide figure,
.guide > dl:last-of-type figure {
  position: relative;
}

@media screen and (max-width: 600px) {
  #main-guide figure {
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
  }

  #main-guide figure > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: 50% 50%;
    transform: scale(1.4);
  }

  #main-guide > .wrapper {
    margin-top: 4.5rem;
  }
  
  #main-guide > .wrapper:first-of-type {
    margin-top: 3rem;
  }
}

.topics figure::before,
.feature-article figure::before,
#main-guide figure::before,
#sub-guide figure::before,
.guide>dl:last-of-type figure::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  transition: .5s;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

.topics figure:hover::before,
.feature-article figure:hover::before,
#main-guide figure:hover::before,
#sub-guide figure:hover::before,
.guide>dl:last-of-type figure:hover::before {
  visibility: visible;
  opacity: .5;
}

.topics dd time {
  display: inline-block;
  margin: 1.2rem 0 .5rem;
  font-size: .8rem;
  line-height: 1em;
  color: #999;
}

.topics dd p {
  font-size: .75rem;
  line-height: 1.4;
}
/* ////////// topics-end ////////// */

/* ////////// feature-article ////////// */
.feature-article > dl,
.guide > dl {
  display: flex;
  justify-content: space-between;
  gap: 1.2rem;
}

@media screen and (max-width: 600px) {
  .feature-article > dl {
    flex-direction: column;
    gap: 3rem;
  }
}

.feature-article > dl img,
.guide>dl img {
  width: 100%;
}

.feature-article > dl dt {
  margin: 1.5rem 0 .7rem;
  font-size: .8rem;
  line-height: 1;
  font-weight: 300;
  color: #d13239;
}

@media screen and (max-width: 600px) {
  .feature-article > dl dt {
    margin: 1rem 0 .7rem;

  }
}

/* ////////// guide ////////// */
/* main */
.guide > dl {
  gap: 3rem;
}

.guide dt {
  font-size: 1.27rem;
  font-weight: 700;
  text-align: center;
}

.guide dd {
  line-height: 1.7;
}

.guide dt,
.guide dd {
  margin-top: 2rem;
}

@media screen and (max-width: 600px) {
  .guide dt {
    letter-spacing: 1em;
  }
  
}


#main-guide,
#sub-guide {
  margin-bottom: 7rem;
  padding-bottom: 10rem;
  border-bottom: 1px solid #ccc;
}

#sub-guide {
  padding-bottom: 6rem;
}

#main-guide > .wrapper {
  position: relative;
}

#main-guide dd:last-of-type {
  position: absolute;
  bottom: -4rem;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  padding-bottom: .75rem;
  font-size: .8rem;
  letter-spacing: .1em;
}

@media screen and (max-width: 600px) {
  #main-guide dd:last-of-type {
    bottom: -3rem;
  }
}

#main-guide dd:last-of-type {
  background: linear-gradient(#d13239 0 0) var(--p, 100%) 100%/var(--d, 100%) 1px no-repeat;
  transition: .3s, background-position 0s 0.3s;
}

#main-guide dd:last-of-type:hover {
  --d: 0%;
  --p: 0%;
}

/* sub-guide */
#sub-guide {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2rem 4rem
}

#sub-guide > .wrapper > a {
  display: flex;
}

@media screen and (max-width: 600px) {
  #main-guide {
    flex-direction: column;
    margin-bottom: 5rem;
    padding-bottom: 8rem;
  }

  #sub-guide {
    margin-bottom: 5rem;
    padding-bottom: 4rem;
    gap: 1rem 1.5rem;
  }

  #sub-guide > .wrapper > a {
    display: block;
  } 
}

#sub-guide a > figure {
  flex: 3;
}

#sub-guide a > .inner-wrapper {
  flex: 4;
}

#sub-guide .inner-wrapper > dt{
  display: inline-block;
  margin: 1.5rem 0 0 1rem;
  padding-bottom: .5rem;
  font-size: 1rem;
  font-weight: 600;
  list-style: 1em;
  text-align: left;
  letter-spacing: .2rem;
}

@media screen and (max-width: 600px) {
  #sub-guide .inner-wrapper > dt{
    margin: .5rem 0 0 0 ;
    font-size: .8rem;
    letter-spacing: 0;
  }
}

#sub-guide .inner-wrapper > dt {
  background: linear-gradient(#cccc 0 0) var(--p, 0%) 100%/var(--d, 0%) 1px no-repeat;
  transition: .5s, background-position 0s 0.5s;
}

#sub-guide .inner-wrapper > dt:hover {
  --d: 100%;
  --p: 100%;
}

#sub-guide .inner-wrapper > dd {
  margin: .5rem 0 0 1rem;
  font-size: .85rem;
  line-height: 2;
}

@media screen and (max-width: 600px) {
  #sub-guide .inner-wrapper > dd {
    display: none;
  }
}

/* annual event */
.guide > dl:last-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.guide > dl:last-of-type > dt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  margin: 0;
  color: #fff;
  z-index: 1;
}

.guide > dl:last-of-type > dt,
.guide > dl:last-of-type > dd {
  margin-top: 0;
}

.guide > dl:last-of-type > dt {
  padding-bottom: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: .5rem;
  border-bottom: 2px solid #fff;
  white-space: nowrap;
}

.guide > dl:last-of-type > dd {
  padding: .5rem;
  width: 70%;
  background: linear-gradient(#777 0 0) top,
              linear-gradient(#777 0 0) left,
              linear-gradient(#777 0 0) bottom,
              linear-gradient(#777 0 0) right;
  background-size: var(--d, 0) 1px, 1px var(--d, 0);
  background-repeat: no-repeat;
  border: 1px solid #ccc;
  transition: 0.5s;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  .guide > dl:last-of-type > dt {
    padding-bottom: 0;
    border-bottom: none;
    font-size: 1rem;
  }

  .guide>dl:last-of-type>dd {
    width: 100%;
  }
}

.guide>dl:last-of-type>dd:hover {
  --d: 100%;
}

.guide>dl:last-of-type img {
  width: 100%;
}

/* #more-info dt {
  position: relative;
  background: linear-gradient(#777 0 0) top,
    linear-gradient(#777 0 0) left,
    linear-gradient(#777 0 0) bottom,
    linear-gradient(#777 0 0) right;
  background-size: var(--d, 0) 1px, 1px var(--d, 0);
  background-repeat: no-repeat;
  border: 1px solid #ccc;
  transition: 0.5s;
}

#more-info dt:hover {
  --d: 100%;
} */

/* ////////// instagram ////////// */
#instagram > main {
  display: grid;
  grid-template-columns: repeat(4, minmax(9rem, 1fr));
  grid-template-rows: repeat(2, minmax(9rem, auto));
  row-gap: 1rem;
  gap: 1rem;
  max-width: 90%;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  #instagram {
    margin-top: 0;
  }
  #instagram > main {
    grid-template-columns: repeat(2, 1fr);
  }

  #instagram article:nth-of-type(5),
  #instagram article:nth-of-type(6),
  #instagram article:nth-of-type(7),
  #instagram article:nth-of-type(8) {
    display: none;
  }
}

#instagram article {
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  transition: .5s;
}

#instagram article::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  transition: .5s;
  visibility: hidden;
  opacity: 0;
}

#instagram article .information {
  position: absolute;
  top: 0;
  left: 0;
  transition: .5s;
  visibility: hidden;
  opacity: 0;
}

#instagram article.active::before,
#instagram article .information.active {
  visibility: visible;
  opacity: 1;
}

#instagram article img {
  width: 100%;
  height: 100%;
}

#instagram .information {
  padding: 1rem;
}

#instagram .information > dt,
#instagram .information > dd,
#instagram .information p {
  margin: 0;
  font-size: .8rem;
  font-weight: 400;
  line-height: 1.3;
  text-align: left;
  color: #fff;
}

#instagram .information > dt,
#instagram .information > dd {
  margin-bottom: .75rem;
  font-weight: 700;
}

@media screen and (max-width: 950px) {
  #instagram .information > dt,
  #instagram .information > dd {
    text-align: center;
  }
  #instagram .information p {
    visibility: hidden;
  }
}

#instagram > sub {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 90%;
  margin-top: 3rem;
  margin: 3rem auto;
}

@media screen and (max-width: 600px) {
  #instagram > sub {
    justify-content: center;
  }
}

#instagram > sub > p:first-of-type {
  position: relative;
  width: 7rem;
}

.topics > .information > dl > p {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-20%);
  width: 5rem;
}

@media screen and (max-width: 600px) {
  .topics > .information > dl > p {
    transform: translateX(-50%);
    bottom: -3rem;
    width: 5rem;
  }  
}

.topics > .information > dl > p::before,
#instagram > sub > p:first-of-type::before {
  position: absolute;
  bottom: -0.25rem;
  left: 0;
  content: "";
  width: 100%;
  border-bottom: 1px solid #d13239;
  transform: translateY(0rem);
  transition: .5s;
  visibility: visible;
  opacity: 1;
}

/* @media screen and (max-width: 600px) {
  #instagram > sub > p:first-of-type::before {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
} */

.topics > .information > dl > p:hover::before,
#instagram > sub > p:first-of-type:hover::before {
  transform: translateY(.25rem);
  visibility: hidden;
  opacity: 0;
}

#instagram > sub a {
  position: relative;
}

#instagram > sub a::before {
  top: .5rem;
  left: -1.75rem;
}

#instagram > sub a::after {
  top: .3rem;
  left: -1.4rem;
}

#instagram > sub > p {
  font-family: 'Noto Serif JP', serif;
  font-size: 1rem;
  width: 23rem;
}

@media screen and (max-width: 600px) {
  #instagram > sub > p:last-of-type {
    display: none;
  }
}

nav.sns {
  margin-top: 2rem;
}

nav.sns > ul {
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 3rem 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

nav.sns li {
  position: relative;
}

nav.sns li:not(:first-of-type) {
  margin-left: 5rem;
}

nav.sns li::before {
  font-family: "Font Awesome 6 Brands";
  font-size: 3rem;
  font-weight: 900;
  color: #333;
}

nav.sns li:nth-of-type(1)::before {
  content: "\f09a";
}

nav.sns li:nth-of-type(2)::before {
  content: "\e055";
}

nav.sns li:nth-of-type(3)::before {
  content: "\f431";
}

/* ////////// more-info ////////// */
#more-info > dl {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  width: 100%;
}

@media screen and (max-width: 600px) {
  #more-info > dl {
    display: block;
  }
}

#more-info dt {
  position: relative;
  background: linear-gradient(#777 0 0) top,
              linear-gradient(#777 0 0) left,
              linear-gradient(#777 0 0) bottom,
              linear-gradient(#777 0 0) right;
  background-size: var(--d, 0) 1px, 1px var(--d, 0);
  background-repeat: no-repeat;
  border: 1px solid #ccc;
  transition: 0.5s;
}

#more-info dt:hover {
  --d: 100%;
}

#more-info h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  /* なんでセンター？ */
  text-align: center;
  letter-spacing: .3rem;
  color: #fff;
}

#more-info picture {
  position: relative;
  display: block;
  padding: .25rem;
  width: 100%;
}

#more-info picture::before {
  position: absolute;
  top: .25rem;
  left: .25rem;
  content: "";
  width: calc(100% - 0.5rem);
  height: calc(100% - 0.5rem);
  background-color: rgba(50, 50, 50, .6);
  transition: .3s;
  visibility: hidden;
  opacity: 0;
}

#more-info picture:hover::before {
  visibility: visible;
  opacity: 1;
}

#more-info h2::after {
  display: none;
}

#more-info > dl img {
  display: inline-block;
  object-fit: contain;
  width: 100%;
  height: 100%;
}

#more-info dd {
  margin-top: .8rem;
  font-size: .9rem;
  font-weight: 400;
  line-height: 2;
  color: #777;
}

#more-info > #anchor-to-top {
  display: none;
}

@media screen and (max-width: 600px) {
  #more-info dd {
    display: none;
  }

  #more-info > #anchor-to-top {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-top: 6rem;
    background-color: red;
  }

  #more-info > #anchor-to-top::before {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    content: "\f102";
    font-family: "Font Awesome 6 Free";
    font-size: .9rem;
    font-weight: 900;
  }

  #more-info > #anchor-to-top::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
    content: "";
    width: 3rem;
    height: 3rem;
    border: 1px solid #ccc;
    border-radius: 50%;
  }
}


/* ////////// footer ////////// */
footer {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 0 3rem;
  width: 100%;
  height: 5vh;
  color: #ddd;
  background-color: #111;
}

footer small:not(:first-of-type) {
  margin-left: 2rem;
}

@media screen and (max-width: 600px) {
  footer > .wrapper {
    margin-bottom: 1rem;
  }
  footer {
    flex-direction: column;
    justify-content: center;
    height: 10rem;
    text-align: center;
  }

  footer small {
    display: block;
  }
  
  footer small:not(:first-of-type) {
    margin-left: 0;
  }

  footer small:nth-of-type(2) {
    margin: .75rem 0;
  }
}
