@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;600;900&display=swap');

/* //////////////////// 全体 */
html {
  font-size: 93.75%;
  scroll-behavior: smooth;
  /*  ページ先頭の要素に付ける。戻る位置を調整してくれる。
      scroll-margin-top: 80px;  */
}

body {
  font-family: 'Noto Serif JP', serif;
  color: #fff;
  background-color: #333;
}

main h2,
main h3 {
  margin: 2em 0 1em;
  text-align: center;
  line-height: 1em;
  font-weight: 600;
}

main h2 {
  font-size: 1.4rem;
}

main h3 {
  text-align: left;
  font-size: 1.2rem;
}

main p {
  font-weight: 400;
  line-height: 2em;
}

.remove-letter-spacing {
  letter-spacing: 0;
}

figure {
  width: 100%;
  aspect-ratio: 4/3;
  overflow: hidden;
  /* productionで取る */
  background-color: red;
}

figure > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: 50% 50%;
  transform: scale(1);
}
/* //////////////////// <= 全体 */

/* //////////////////// header */
header {
  position: relative;
}

#main-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
}

#header-menu-button {
  position: absolute;
  top: 4rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  z-index: 2;
}

#header-menu-button > .btn-line {
  position: absolute;
  width: 2rem;
  height: 3px;
  background-color: #fff;
  transition: .2s;
  visibility: visible;
  opacity: 1;
}

#header-menu-button > .btn-line:nth-of-type(1) {
  top: 25%;
  left: 50%;
  transform: translateX(-50%)
}

#header-menu-button > .btn-line:nth-of-type(2) {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#header-menu-button > .btn-line:nth-of-type(3) {
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
}

#header-menu-button > .btn-line:nth-of-type(1).oblique-line-dw {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

#header-menu-button > .btn-line:nth-of-type(2).erase {
  visibility: hidden;
  opacity: 0;
}

#header-menu-button > .btn-line:nth-of-type(3).oblique-line-up {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);
}

#article-links {
  position: relative;
  width: 100%;
  height: 100vh;
  transition: .5s;
  transform: translateY(5rem);
  visibility: hidden;
  opacity: 0;
}

#article-links.pull-up {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

#article-links > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  position: absolute;
  top: 20%;
  right: 1rem;
  width: calc(100% - 2rem);
  padding: 3rem 1rem;
  border-top: 1px solid #fff ;
  z-index: 100;
}

#article-links li {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1em;
  letter-spacing: .5rem;
  color: #fff;
}

#article-links li:not(:first-of-type) {
  margin-top: 2rem;
}

#article-links li > a {
  display: block;
}

header #main-nav-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #333333e0;
}

header > #main-title {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

#main-title img {
  width: 100%;
  height: 100%;
  transform: scale(.75);
}

header > #main-visual {
  width: 100%;
  height: 100vh;  
  background-image: url("../img/first_half/s-1159x815_v-fs_webp_4e17a59e-2afc-4b78-b1c6-9639562f240f.webp");
  background-position: center;
  background-size: 110%;
  background-repeat: no-repeat;
}

/* //////////////////// <= header */

/* //////////////////// main */
main {
  padding: 0 1rem;
}

#gallery > figure:first-of-type > img {
  transform: scale(1.2);
}

#gallery > figure:last-of-type {
  margin: 1rem 0 2rem;
}

#news .wrapper {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #909090;

}

#news dt,
#news dd {
  font-size: 1.1rem;
  line-height: 1.2em;
  font-weight: 400;
}

#news dt {
  padding-bottom: .5rem;
  line-height: 1em;
  font-size: .9rem;
  color: #909090;
}

#archive > dl {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  gap: 1rem;
}

#archive .wrapper {
  width: 50%;
  flex-shrink: 0;
}
/* //////////////////// <= main */


/* //////////////////// footer */
footer {
  width: 100%;
  margin-top: 5rem;
  text-align: center;
}

footer figure {
  width: 80px;
  height: 80px;
  margin: 0 auto 2rem;
}

footer figure > img {
  transform: scale(1.1);
}

footer p {
  line-height: 1.5;
}




/* //////////////////// <= footer */