@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;600;900&display=swap');

/* //////////////////// 全体 */
html {
  /* 本文: 15px */
  font-size: 87.5%;
  scroll-behavior: smooth;
}

/* 戻る位置の調整 */
.mirei-shigemori,
.news,
.archive {
  scroll-margin-top: 45px;
}

body {
  font-family: 'Noto Serif JP', serif;
  color: #fff;
  background-color: #000;
}

main h2,
main h3 {
  margin-bottom: 35px;
  text-align: center;
  font-size: 20px;
  line-height: 1em;
  font-weight: 600;
}

main h3 {
  padding-left: 14px;
  text-align: left;
}

main p {
  font-weight: 400;
  line-height: 2em;
}

.remove-letter-spacing {
  letter-spacing: 0;
}

.frame {
  width: 100%;
  aspect-ratio: 4/3;
  overflow: hidden;
  /* productionで取る */
  background-color: rgba(255, 0, 0, 0.285);
}

.frame > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: 50% 50%;
  transform: scale(1);
}

/* class="animation" */
.animation-target {
  transition: .5s;
  transform: translateY(140px);
  visibility: hidden;
  opacity: 0;
}
/* //////////////////// end <= 全体 */

/* //////////////////// header */
header {
  position: relative;
  height: 100vh;
}

.header-menu-button {
  display: none;
}

.contents-links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  position: fixed;
  top: 43%;
  right: 15px;
  z-index: 3;
}

.contents-links li {
  display: inline-block;
  font-weight: 600;
  line-height: 1em;
  letter-spacing: .25rem;
  color: #fff;
}

.contents-links li + li {
  margin-top: 20px;
}

.contents-links li > a {
  display: block;
}

.main-nav-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 4;
  transition: 5s;
  visibility: visible;
  opacity: 1;
}

.main-nav-mask.open {
  visibility: hidden;
  opacity: 0;
}

.contents-links.pull-up,
.main-nav-mask.pull-up {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

header > .main-title {
  position: absolute;
  top: -2px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.main-title img {
  width: 100%;
  height: 100%;
  transform: scale(.79);
}

header > .main-visual {
  height: 100%;
  background-image: url("../img/first_half/s-1159x815_v-fs_webp_4e17a59e-2afc-4b78-b1c6-9639562f240f.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 600px) {
  .header-menu-button {
    display: inline-block;
    position: fixed;
    top: 43px;
    right: 7px;
    width: 45px;
    height: 30px;
    cursor: pointer;
    z-index: 4;
  }

  .header-menu-button > .btn-line {
    position: absolute;
    width: 28px;
    height: 3px;
    background-color: #fff;
    transition: .2s;
    visibility: visible;
    opacity: 1;
  }

  .header-menu-button > .btn-line:nth-of-type(1) {
    top: 22%;
    left: 50%;
    transform: translateX(-50%)
  }

  .header-menu-button > .btn-line:nth-of-type(2) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .header-menu-button > .btn-line:nth-of-type(3) {
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
  }

  .header-menu-button > .btn-line:nth-of-type(1).active {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
  }

  .header-menu-button > .btn-line:nth-of-type(2).active {
    visibility: hidden;
    opacity: 0;
  }

  .header-menu-button > .btn-line:nth-of-type(3).active {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) rotate(-45deg);
  }

  header .main-nav-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #333333e0;
    z-index: 2;
    transform: translateY(150px);
    transition: .5s;
    visibility: hidden;
    opacity: 0;
  }

  .contents-links.pull-up,
  header .main-nav-mask.pull-up {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }

  header > .main-title {
    top: 20px;
  }

  .main-title img {
    transform: scale(.55);
  }

  .contents-links {
    top: 15%;
    padding: 3rem 1rem;
    border-top: 1px solid #fff;
    transition: .5s;
    transform: translateY(150px);
    visibility: hidden;
    opacity: 0;
  }
  
  .contents-links li {
    font-size: 1.2rem;
    letter-spacing: .5rem;
  }
  
  .contents-links li + li {
    margin-top: 30px;
  }
}
/* //////////////////// end <= header */

/* //////////////////// main */
/* common use */
.mirei-shigemori,
.news {
  max-width: 800px;
  width: 100%;
  margin: 95px auto 0;
}

/* class="history" */
main .history > p {
  padding: 90px 0;
  line-height: 2.2;
  text-align: center;
}

main .history > p.active {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

/* class="mirei-shigemori" */
.mirei-shigemori.active {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

.mirei-shigemori p {
  font-size: 15px;
}

/* class="gallery"*/
.gallery,
.archive {
  max-width: 100%;
  overflow: hidden;
}

.gallery .frame {
  margin: 0 auto;
  width: 80%;
  aspect-ratio: 2/1;
}

.gallery .frame.active {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

.gallery > .frame:first-of-type > img {
  transform: scale(1.34);
}

.slide-frame {
  max-width: 100vw;
  margin: 10px 0;
  transition: 1s;
  transform: translateX(100%);
  overflow: hidden;
}

.slide-frame.active {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}

.gallery .slide-frame > ul,
.archive .slide-frame > ul {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  overflow-x: scroll;
  white-space: nowrap;
}

.archive .slide-frame > ul {
  gap: 20px;
}

.gallery li,
.archive .wrapper  {
  display: block;
  min-width: 30vw;
  aspect-ratio: 1;
  border: 1px solid rgb(55, 45, 0);
  overflow: hidden;
  z-index: 2;
}

.archive .wrapper  {
  min-width: 28vw;
  aspect-ratio: 1/1.3;
  border: none;
}

.gallery .slide-frame img  {
  display: inline-block;
  width: 100%;
}

.archive {
  margin-top: 95px;
}

.archive .wrapper > ul li:first-of-type {
  display: block;
  height: 30vw;
  margin-bottom: 14px;
  overflow: hidden;
}

.archive .wrapper img  {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* class="news" */
.news h2.active {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

.news .wrapper {
  max-width: 100vw;
  margin-bottom: 18.5px;
  padding-bottom: 18.5px;
  border-bottom: 1px solid #909090;
  overflow: hidden;
  transition: 1s;
  transform: translateX(100%);
}

.news .wrapper.active {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}

.news .wrapper li {
  line-height: 1.2;
  font-weight: 400;
}

.news .wrapper > ul > li:first-of-type,
.archive .wrapper > ul li:nth-of-type(2) {
  margin-bottom: 1em;
  font-size: 14px;
  line-height: 1;
  color: #909090;
}

.archive h3.active {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

.archive .wrapper > ul li:nth-of-type(2) {
  margin-bottom: .5em;
}

.news .wrapper > ul > li:last-of-type,
.archive .wrapper > ul li:last-of-type {
  font-size: 15.5px;
  font-weight: 600;
  line-height: 1.5;
  white-space: normal;
}

.archive a {
  display: block;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 600px) {
  /* common use */
  .mirei-shigemori,
  .news {
    margin: 58px auto 0;
  }
  /* class="history" */
  main .history > p {
    padding: 45px 0;
    line-height: 1.8;
    text-align: left;
  }

  /* class="gallery" */
  .gallery,
  .mirei-shigemori {
    padding: 0 15px;
  }
  .gallery .frame {
    width: 100%;
  }

  .gallery li {
    min-width: 40.5vw;
  }

  .news,
  .archive {
    padding: 0 30px;
  }

  .news .wrapper > ul > li:first-of-type,
  .archive .wrapper > ul li:nth-of-type(2) {
    margin-bottom: .6em;
  }

  .news .wrapper >ul > li:last-of-type,
  .archive .wrapper > ul li:last-of-type {
    font-size: 15px;
  }

  .archive .wrapper {
    min-width: 38vw;
    aspect-ratio: 1/2;
  }

  .archive .slide-frame>ul {
    gap: 10px;
  }

  .archive .wrapper > ul li:first-of-type {
    height: 38vw;
  }
}
/* //////////////////// end<= main */

/* //////////////////// footer */
footer {
  margin-top: 100px;
  padding-top: 50px;
  text-align: center;
  border-top: 1px solid #fff;
}

footer.active {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

footer .frame {
  width: 72px;
  height: 72px;
  margin: 0 auto 2rem;
}

footer .frame > img {
  transform: scale(1.1);
}

footer p {
  line-height: 1.7;
}

footer small {
  font-size: 12px;
}

footer .map {
  display: inline-block;
}

footer .map a {
  display: block;
  margin: 14px 0;
  padding: 7px 85px;
  font-size: 12px;
  line-height: 1em;
  border: 1px solid #fff;
  border-radius: 13px;
  transition: .3s;
}

footer .map a:hover {
  color: #333;
  background-color: #fff;
}

footer .tel {
  display: inline-block;
  position: relative;
  margin-top: 18px;
  line-height: 1em;
  border-bottom: 1px solid #fff;
}

footer .tel::before {
  position: absolute;
  top: 0px;
  left: -23px;
  content: "\f095";
  font-size: 1.2em;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
}

.footer-nav {
  width: 100%;
  margin: 60px auto 0;
  padding: 60px;
  color: #333;
  background-color: #fff;
  overflow: hidden;
}

.footer-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    max-width: 900px;
    margin: 0 auto;
}

.footer-nav > ul ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footer-nav > ul ul > li{
  font-size: 30px;
  line-height: 1em;
}

.footer-nav > ul > li:first-of-type {
  margin-right: 50px;
}

/*  {} */
.twitter-time-line {
  flex: 1;
  display: block;
  max-width: calc(36% - 10px);
  width: 100%;
}

@media screen and (max-width: 600px) {
  footer {
    margin-top: 50px;
  }

  .footer-nav {
    padding: 30px;
  }
  .footer-nav > ul > li:first-of-type {
    margin-right: 0;
  }

  /* .footer-nav > ul > li:nth-of-type(n+2) {} */
  .footer-nav > ul > li + li {
    display: none;
  }

  .footer-nav > ul > li > ul > li + li {
    margin-left: 1rem;
  }

  .fa-brands {
    font-size: 2.5rem;
  }
}
/* //////////////////// end <= footer */