@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;600;900&display=swap");
/* //////////////////// 全体 */
html {
  /* 本文: 14px */
  font-size: 87.5%;
  scroll-behavior: smooth;
}

/* 戻る位置の調整 */
:target {
  scroll-margin-top: 45px;
}

.animation-target {
  transition: 0.5s;
  transform: translateY(140px);
  visibility: hidden;
  opacity: 0;
}

body {
  font-family: "Noto Serif JP", serif;
  color: #fff;
  background-color: #000;
}

main h2, main .mirei-shigemori dt, main h3 {
  margin-bottom: 35px;
  text-align: center;
  font-size: 20px;
  line-height: 1em;
  font-weight: 600;
}
main h3 {
  padding-left: 14px;
  text-align: left;
}
main p {
  font-weight: 400;
  line-height: 2;
}
main .remove-letter-spacing {
  letter-spacing: 0;
}
main a[href^=tel] {
  display: block;
}

/* //////////////////// end <= 全体 */
/* //////////////////// header */
header {
  position: relative;
  height: 100vh;
}
header .header-menu-button {
  display: none;
}
header .contents-links {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  position: fixed;
  top: 43%;
  right: 20px;
  z-index: 4;
  mix-blend-mode: difference;
}
header li {
  display: inline-block;
  font-weight: 600;
  line-height: 1em;
  letter-spacing: 0.25rem;
  color: #fff;
  transition: 0.5s;
}
header li.slide-left {
  transform: translateX(-2em);
  opacity: 0.7;
}
header li a {
  display: block;
  padding: 10px;
}
header li + li {
  margin-top: 10px;
}
header .main-nav-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 6;
  visibility: visible;
  opacity: 1;
  animation: fade-out 4s 2s forwards;
}
@keyframes fade-out {
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
header .main-nav-mask.open {
  visibility: hidden;
  opacity: 0;
}
header .main-title {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 180px;
  z-index: 7;
  visibility: hidden;
  opacity: 0;
  animation: fade-in 5.3s 0.7s forwards;
}
@keyframes fade-in {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
header .main-title img {
  width: 100%;
}
header .main-visual {
  height: 100%;
  background-image: url("../img/first_half/s-1159x815_v-fs_webp_4e17a59e-2afc-4b78-b1c6-9639562f240f.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

@media screen and (max-width: 600px) {
  header .header-menu-button {
    display: inline-block;
    position: fixed;
    top: 43px;
    right: 7px;
    width: 45px;
    height: 30px;
    cursor: pointer;
    z-index: 5;
  }
  header .header-menu-button div {
    position: absolute;
    left: 50%;
    width: 28px;
    height: 3px;
    background-color: #fff;
    transition: 0.2s;
    visibility: visible;
    opacity: 1;
  }
  header .header-menu-button div:nth-of-type(1) {
    top: 22%;
    transform: translateX(-50%);
  }
  header .header-menu-button div:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  header .header-menu-button div:nth-of-type(3) {
    top: 70%;
    transform: translateX(-50%);
  }
  header .header-menu-button.active div {
    top: 50%;
    left: 50%;
  }
  header .header-menu-button.active div:nth-of-type(1) {
    transform: translateX(-50%) rotate(45deg);
  }
  header .header-menu-button.active div:nth-of-type(2) {
    visibility: hidden;
    opacity: 0;
  }
  header .header-menu-button.active div:nth-of-type(3) {
    transform: translateX(-50%) rotate(-45deg);
  }
  header .main-nav-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(50, 50, 50, 0.8);
    z-index: 2;
    transform: translateY(150px);
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    animation: none;
  }
  header .contents-links.pull-up,
  header .main-nav-mask.pull-up {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }
  header .main-title {
    top: 100px;
    width: 30%;
    visibility: visible;
    opacity: 1;
    animation: none;
    z-index: 1;
  }
  header .contents-links {
    top: 18%;
    left: 14px;
    padding: 3rem 0;
    border-top: 1px solid #fff;
    transition: 0.5s;
    transform: translateY(30px);
    visibility: hidden;
    opacity: 0;
  }
  header .contents-links li {
    font-size: 1.2rem;
    letter-spacing: 0.5rem;
  }
  header .contents-links li + li {
    margin-top: 10px;
  }
}
/* //////////////////// end <= header */
/* //////////////////// main */
/* common use */
.mirei-shigemori,
.news {
  width: 800px;
  margin: 95px auto 0;
}

/* class="history" */
.history p {
  padding: 90px 0;
  line-height: 2.2;
  text-align: center;
}
.history p.active {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

/* class="mirei-shigemori" */
.mirei-shigemori dt.active {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}
.mirei-shigemori dd {
  font-size: 15px;
  font-weight: 300;
  line-height: 2;
}
.mirei-shigemori dd.active {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

/* class="gallery"*/
.gallery,
.news {
  max-width: 100%;
  overflow: hidden;
}

.gallery .frame {
  margin: 0 auto;
  width: 80%;
  aspect-ratio: 2/1;
  overflow: hidden;
}
.gallery .frame img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.gallery .frame.active {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}
.gallery .slide-frame img {
  width: 100%;
}

.gallery .slide-frame,
.archive .slide-frame {
  max-width: 100vw;
  margin: 10px 0;
  transition: 1s;
  transform: translateX(100%);
  overflow: hidden;
}
.gallery .slide-frame.active,
.archive .slide-frame.active {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}

.gallery .slide-frame > ul,
.archive .slide-frame > ul {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  overflow-x: scroll;
  white-space: nowrap;
}
.gallery li,
.archive li {
  min-width: 30vw;
  aspect-ratio: 1;
  border: 1px solid #372d00;
  overflow: hidden;
  z-index: 3;
}

.archive {
  margin-top: 95px;
  overflow: hidden;
}
.archive .slide-frame ul {
  gap: 20px;
}
.archive .slide-frame ul li {
  min-width: 28vw;
  aspect-ratio: 1/1.8;
  border: none;
}
.archive .slide-frame ul li .frame {
  height: 28vw;
  margin-bottom: 14px;
  overflow: hidden;
}
.archive .slide-frame ul li .frame img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* class="news" */
.news h2.active {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}
.news li {
  max-width: 100vw;
  margin-bottom: 18.5px;
  padding-bottom: 18.5px;
  border-bottom: 1px solid #909090;
  overflow: hidden;
  transition: 1s;
  transform: translateX(100%);
}
.news li.active {
  line-height: 1.2;
  font-weight: 400;
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}

.news .date, .archive .date {
  margin-bottom: 1em;
  font-size: 14px;
  line-height: 1;
  color: #909090;
}
.news .contents, .archive .contents {
  font-size: 15.5px;
  font-weight: 600;
  line-height: 1.5;
  white-space: normal;
}

.archive .date {
  margin-bottom: 0.5em;
}
.archive a {
  display: block;
}
.archive h3.active {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 600px) {
  /* class="history" */
  main .history > p {
    padding: 45px 14px;
    font-size: 13.5px;
    line-height: 2;
    text-align: justify;
  }
  main .history > p .for-pc {
    display: none;
  }
  /* class="gallery" */
  .gallery {
    padding: 0 15px;
  }
  .gallery .frame {
    width: 100%;
  }
  .gallery li {
    min-width: 40.5vw;
  }
  /* class="mirei-shigemori" */
  .mirei-shigemori {
    max-width: 100%;
    margin: 58px auto 0;
    padding: 0 15px;
  }
  .mirei-shigemori dt {
    font-size: 18.5px;
    font-weight: 900;
  }
  .mirei-shigemori dd {
    font-size: 14px;
  }
  /* class="news"*/
  .news {
    margin: 65px auto 0;
    padding: 0 35px;
  }
  .news li {
    margin-bottom: 17px;
    padding-bottom: 17px;
  }
  .news h2 {
    margin-bottom: 45px;
  }
  .news .date {
    font-size: 13.5px;
  }
  .news .contents {
    font-size: 14.5px;
  }
  /* class="archive"*/
  .archive {
    padding: 0 35px;
    margin-top: 70px;
  }
  .archive h3 {
    padding-left: 0;
  }
  .archive .slide-frame ul {
    gap: 8px;
  }
  .archive .slide-frame ul li {
    min-width: 34vw;
    aspect-ratio: 1/3;
  }
  .archive .slide-frame ul li .frame {
    height: 34vw;
  }
  .archive .slide-frame ul li .date {
    margin-bottom: 0.3em;
    font-size: 13px;
    line-height: 1.3;
    white-space: normal;
  }
  .archive .slide-frame ul li .contents {
    font-size: 15px;
    font-weight: 300;
  }
}
/* //////////////////// end<= main */
/* //////////////////// footer */
footer {
  margin-top: 100px;
  padding-top: 50px;
  text-align: center;
  border-top: 1px solid #fff;
}
footer.active {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}
footer .frame {
  width: 72px;
  height: 72px;
  margin: 0 auto 2rem;
}
footer .frame > img {
  width: 100%;
}
footer p {
  margin-bottom: 0.8em;
  line-height: 1;
}
footer p:nth-of-type(2) {
  margin-bottom: 0.4em;
}
footer p > small {
  font-size: 12px;
}
footer p.map {
  display: inline-block;
}
footer p.map a {
  display: block;
  margin: 8px 0 0px;
  padding: 7px 85px;
  font-size: 12px;
  line-height: 1em;
  border: 1px solid #fff;
  border-radius: 13px;
  transition: 0.3s;
}
footer p.map a:hover {
  color: #000;
  background-color: #fff;
}
footer a[href^=tel] {
  display: inline-block;
  position: relative;
  margin-top: 15px;
  line-height: 1em;
  border-bottom: 1px solid #fff;
}
footer a[href^=tel]::before {
  position: absolute;
  top: 0px;
  left: -23px;
  content: "\f095";
  font-size: 1.2em;
  font-family: "Font Awesome 6 Free";
  font-weight: 400;
}
footer .footer-nav {
  display: flex;
  justify-content: center;
  gap: 60px;
  width: 100%;
  margin: 60px auto 0;
  padding: 60px 10px 60px 0;
  color: #000;
  background-color: #fff;
}
footer .footer-nav .first-nav {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 14px;
  max-width: 135px;
}
footer .footer-nav .first-nav a {
  display: block;
  position: relative;
  width: 35px;
  height: 35px;
}
footer .footer-nav .first-nav a::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Font Awesome 6 Brands";
  font-weight: 400;
  font-size: 30px;
}
footer .footer-nav .first-nav a:nth-of-type(1)::before {
  content: "\f16d";
}
footer .footer-nav .first-nav a:nth-of-type(2)::before {
  content: "\f082";
}
footer .footer-nav .first-nav a:nth-of-type(3)::before {
  content: "\f099";
}
footer .footer-nav .second-nav {
  display: flex;
  justify-content: flex-start;
  gap: 14px;
  min-width: 700px;
}
footer .footer-nav .second-nav .twitter-time-line {
  width: 50%;
}

@media screen and (max-width: 600px) {
  footer {
    margin-top: 50px;
  }
  footer .frame {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
  }
  footer p {
    font-size: 12.5px;
  }
  footer p > small {
    font-size: 11.5px;
  }
  footer p:nth-of-type(3) {
    margin-bottom: 8px;
  }
  footer p.map a {
    padding: 7px 120px;
  }
  footer a[href^=tel] {
    margin-top: 10px;
  }
  footer .footer-nav {
    padding: 35px 0;
  }
  footer .footer-nav .first-nav {
    gap: 55px;
  }
  footer .footer-nav .first-nav a::before {
    font-size: 35px;
  }
  footer .footer-nav .first-nav a:nth-of-type(3)::before {
    font-size: 30px;
  }
  footer .footer-nav .second-nav {
    display: none;
  }
}
/* //////////////////// end <= footer *//*# sourceMappingURL=style.css.map */