@charset "UTF-8";
/* Noto+Sans+JP gothic */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
/* font-family: 'Noto Sans JP', sans-serif; */
/* font-weight: 400; <= 100 or 300 or 400 or 500 or 700 or 900 */
/* Roboto */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
/* font-family: 'Roboto', sans-serif; */
/* Roboto Condensed */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
/* Roboto Condensed Italic */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300;1,400;1,700&display=swap");
/* Lato */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
/* font-family: 'Lato', sans-serif; */
/* Lato Italic */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100;1,300;1,400;1,700;1,900&display=swap");
/* font-family: 'Lato', sans-serif; */
@keyframes fade-out {
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
/* //////////////////// 全体 */
html {
  /* 本文: 14px */
  font-size: 87.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #3C3835;
}

#blog,
#about,
#staff,
#menu,
#style,
#recruit {
  scroll-margin-top: 10px;
}

.container {
  position: relative;
  width: calc(100% - 160px);
  margin: 0 auto;
}

figcaption {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 15px;
  font-weight: 500;
  font-feature-settings: "palt";
  letter-spacing: 0.2em;
}

.frame img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.visual {
  width: 100%;
}
.visual img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.view-more {
  position: relative;
  text-align: center;
}
.view-more a {
  display: inline-block;
  padding: 40px 0 0;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  transition: 0.5s;
}
.view-more a::before {
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  width: 90px;
  height: 0;
  content: "";
  border-bottom: 3px solid #3C3835;
  transition: 0.5s;
}
.view-more a:hover {
  color: #4BBE92;
}
.view-more a:hover::before {
  border-bottom: 3px solid #4BBE92;
}

header {
  height: 100vh;
  position: relative;
}
header .loading {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  animation: fade-out 2s 1s forwards;
  z-index: 2;
}
header .loading .frame.gif-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
}
header .loading img {
  -o-object-fit: contain;
     object-fit: contain;
}
header .logo {
  position: absolute;
  top: 30px;
  left: 40px;
  width: 80px;
}
header .main-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 28px;
  right: 0;
  width: 80px;
  height: 100vh;
  z-index: 1;
}
header .main-nav ul {
  display: flex;
  align-items: center;
  writing-mode: vertical-rl;
  gap: 15.5px;
}
header .main-nav ul li {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 13px;
  line-height: 1;
  text-transform: uppercase;
}
header .main-nav ul li a {
  transition: 0.3s;
}
header .main-nav ul li a:hover {
  color: #4BBE92;
}
header .main-nav ul li .fa-brands {
  font-size: 28px;
}
header .main-nav ul li .fa-brands:hover {
  color: #3C3835;
}
header .main-nav ul:last-of-type {
  margin-top: auto;
  margin-bottom: 55px;
  gap: 15px;
}
header .main-nav ul:last-of-type li:first-of-type {
  position: relative;
  padding: 0 5px 15px;
  border-bottom: 1px solid #3C3835;
}
header .main-nav ul:last-of-type li:first-of-type::before {
  position: absolute;
  top: -28px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Font Awesome 6 Free";
  content: "\f133";
  font-size: 20px;
  font-weight: 100;
}
header .visual {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  position: relative;
}
header .visual video {
  flex: 0.73;
  width: min(400px, 100%);
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}
header .visual video source {
  height: 100%;
}
header .visual figcaption {
  flex: 0.27;
  min-width: 350px;
  padding: 0 60px 60px 0;
  line-height: 2.5;
  text-align: right;
}
header .visual .bgm-play-stop {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 36px;
  height: 36px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}
header .visual .bgm-play-stop .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  color: #3C3835;
}
header .visual .bgm-play-stop .icon.play.active {
  display: block;
}
header .visual .bgm-play-stop .icon.play.active::before {
  content: "\f028";
  font-family: "FontAwesome";
}
header .visual .bgm-play-stop .icon.stop.acive {
  display: block;
}
header .visual .bgm-play-stop .icon.stop.acive::before {
  content: "\f6a9";
  font-family: "FontAwesome";
}

.active {
  display: block;
}

main {
  counter-reset: section-title-num 0;
}
main section {
  margin-top: 60px;
  padding-top: 60px;
}
main section .container .contents-title {
  position: absolute;
  top: 60px;
  left: -50px;
  content: "";
  writing-mode: vertical-rl;
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  counter-increment: section-title-num;
  z-index: 5;
}
main section .container .contents-title::before {
  position: absolute;
  top: -60px;
  content: "0" counter(section-title-num);
}
main section .container .contents-title::after {
  position: absolute;
  content: "";
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  width: 18px;
  height: 0;
  border-top: 1px solid #3C3835;
}
main section.about {
  margin-top: 100px;
}

.blog ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 45px;
}
.blog ul li {
  position: relative;
  width: 90%;
}
.blog ul li .frame {
  aspect-ratio: 1;
}
.blog ul li .date {
  position: absolute;
  top: 0;
  right: -20px;
  writing-mode: vertical-rl;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 11px;
}
.blog ul li p {
  margin-top: 20px;
  font-family: inherit;
  font-size: 13px;
  line-height: 1.2;
  font-feature-settings: "palt";
}

.about .container .salon-vibe .visual {
  display: flex;
  align-items: flex-end;
}
.about .container .salon-vibe .visual:last-of-type {
  flex-direction: row-reverse;
}
.about .container .salon-vibe .visual .media-wrapper {
  position: relative;
  overflow: hidden;
  flex: 1.55;
  aspect-ratio: 4/3;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about .container .salon-vibe .visual .media-wrapper .curtains {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 105%;
  content: "";
  background-color: #fff;
  z-index: 1;
}
.about .container .salon-vibe .visual .media-wrapper video {
  height: 100%;
}
.about .container .salon-vibe .visual figcaption {
  flex: 1;
  line-height: 2.2;
  padding: 50px;
}
.about .container .salon-vibe .visual:last-of-type {
  margin-top: 120px;
}
.about .container .salon-vibe .visual:last-of-type figcaption {
  text-align: right;
}
.about .container .access {
  display: flex;
  margin-top: 120px;
}
.about .container .access .frame {
  flex: 1;
}
.about .container .access dl {
  flex: 1.45;
  margin-left: 50px;
}
.about .container .access dl .dl-container {
  display: flex;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px dotted #DEDEDE;
}
.about .container .access dl .dl-container dt, .about .container .access dl .dl-container dd {
  font-weight: 300;
  line-height: 1.7;
}
.about .container .access dl .dl-container dt {
  min-width: 110px;
}
.about .container .access dl .dl-container:last-of-type {
  border-bottom: none;
}
.about .container .visual.map .media-wrapper {
  position: relative;
  margin-top: 80px;
  aspect-ratio: 4/1.5;
}
.about .container .visual.map .media-wrapper .curtains {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 105%;
  content: "";
  background-color: #fff;
  z-index: 1;
}
.about .container .visual.map .media-wrapper iframe {
  width: 100%;
  height: 100%;
}
.about > .visual {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: calc(100% - 80px);
  margin-top: 120px;
}

.staff ul {
  display: flex;
  gap: 75px;
  margin-right: 25px;
}
.staff ul li {
  position: relative;
}
.staff ul li .position {
  position: absolute;
  top: 0;
  right: -25px;
  writing-mode: vertical-rl;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 13px;
  font-weight: 700;
}
.staff ul li .name {
  position: relative;
  padding-top: 25px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.1em;
  text-align: right;
}
.staff ul li .name span {
  position: absolute;
  top: 15px;
  left: 0;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 28px;
  text-align: left;
  opacity: 0.6;
}

.menu .media-wrapper .curtains {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 105%;
  content: "";
  background-color: #fff;
  z-index: 1;
}
.menu dl {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 60px;
       column-gap: 60px;
  margin-top: 50px;
}
.menu dl .dl-container {
  display: flex;
  display: flex;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px dotted #DEDEDE;
}
.menu dl .dl-container dt, .menu dl .dl-container dd {
  font-weight: 300;
  line-height: 1.7;
}
.menu dl .dl-container dt {
  min-width: 110px;
}
.menu dl .dl-container dt {
  width: 35%;
}
.menu dl .dl-container dd {
  width: 65%;
}

.style .visual {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.recruit .container .join-our-team .visual {
  display: flex;
  align-items: center;
}
.recruit .container .join-our-team .visual .media-wrapper {
  position: relative;
  overflow: hidden;
  overflow: hidden;
  flex: 1.55;
  aspect-ratio: 4/3;
  -o-object-fit: cover;
     object-fit: cover;
}
.recruit .container .join-our-team .visual .media-wrapper .curtains {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 105%;
  content: "";
  background-color: #fff;
  z-index: 1;
}
.recruit .container .join-our-team .visual .media-wrapper video {
  height: 100%;
}
.recruit .container .join-our-team .visual figcaption {
  flex: 1;
  line-height: 2.2;
  padding: 50px;
}
.recruit .container .join-our-team .visual figcaption dl {
  margin-top: 45px;
}
.recruit .container .join-our-team .visual figcaption dl .dl-container {
  display: flex;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px dotted #DEDEDE;
  margin-bottom: 0px;
  padding-bottom: 0;
  border-bottom: none;
}
.recruit .container .join-our-team .visual figcaption dl .dl-container dt, .recruit .container .join-our-team .visual figcaption dl .dl-container dd {
  font-weight: 300;
  line-height: 1.7;
}
.recruit .container .join-our-team .visual figcaption dl .dl-container dt {
  min-width: 110px;
}
.recruit .container .join-our-team .visual figcaption dl .dl-container:first-of-type {
  margin-bottom: 25px;
}
.recruit .container .join-our-team .visual figcaption dl .dl-container dt, .recruit .container .join-our-team .visual figcaption dl .dl-container dd {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.1em;
}
.recruit .container .join-our-team .visual figcaption dl .dl-container dt {
  min-width: 60px;
}

footer {
  margin-top: 200px;
  padding-right: 80px;
}
footer .visual {
  height: 50vh;
  position: relative;
  overflow: hidden;
}
footer .visual video {
  -o-object-fit: cover;
     object-fit: cover;
}
footer .visual figcaption {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  letter-spacing: 0;
}/*# sourceMappingURL=style.css.map */